<div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                    <div class="card">
                            <div class="card-header">
                                Item List
                            </div>
                            <div class="card-body">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Item #</th>
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th>Unit Price</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr style="background-color: rgba(0, 0, 0, 0.075);">
                                            <td>
                                                <input class="form-control" />
                                            </td>
                                            <td>
                                                <input class="form-control" />
                                            </td>
                                            <td>
                                                <input class="form-control" />
                                            </td>
                                            <td>
                                                <input class="form-control" />
                                            </td>
                                            <td>
                                                <select class="form-control">
                                                    <option>Active</option>
                                                    <option>Inactive</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr *ngFor="let i of Items">
                                            <td>{{i.ItemNo}}</td>
                                            <td>{{i.Name}}</td>
                                            <td>{{i.Description}}</td>
                                            <td>{{i.UnitPrice | number:'3.2-5'}}</td>
                                            <td>{{i.IsActive ? 'Active': 'Inactive'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" href="#">Prev</a>
                                    </li>
                                    <li class="page-item active">
                                        <a class="page-link" href="#">1</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">2</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">3</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">4</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
            </div>
            <!-- <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        Item Info
                    </div>
                    <div class="card-body">
                            <div class="form-group">
                                    <label for="exampleInputEmail1">Item #
                                        <small id="emailHelp" class="text-muted">System generated value</small>
                                    </label>
                                    <input type="text" class="form-control" readonly id="exampleInputEmail1" aria-describedby="emailHelp">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail2">Name</label>
                                    <input type="text" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail2">Description</label>
                                    <textarea rows="3" class="form-control">
        
                                                </textarea>
                                </div>
                                <div class="form-group">
                                        <label for="exampleInputEmail2">Category</label>
                                        <select class="form-control">
                                            <option>Select Category</option>
                                        </select>
                                    </div>
                                <div class="form-group">
                                        <label for="exampleInputEmail4">Unit Measure</label>
                                        <input type="text" class="form-control" id="exampleInputEmail4" aria-describedby="emailHelp">
                                    </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail3">Unit Price</label>
                                    <input type="text" class="form-control" id="exampleInputEmail3" aria-describedby="emailHelp">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail2">Status</label>
                                    <select class="form-control">
                                        <option>Active</option>
                                        <option>Inactive</option>
                                    </select>
                                </div>
                        <hr/>
                        <button type="button" class="btn btn-primary">Save Item</button>
                    </div>
                </div>
            </div> -->
        </div>
    </div>