<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Stocks
        </div>
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Item #</th>
                <th>Name</th>
                <th>Description</th>
                <th>Unit Price</th>
                <th>In Stock</th>
                <th>Available</th>
              </tr>
            </thead>
            <tbody>
                <tr style="background-color: rgba(0, 0, 0, 0.075);">
                    <td>
                        <input class="form-control" />
                    </td>
                    <td>
                        <input class="form-control" />
                    </td>
                    <td>
                        <input class="form-control" />
                    </td>
                    <td>
                        <input class="form-control" />
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr *ngFor="let stock of Stocks">
                  <td>{{stock.Item.ItemNo}}</td>
                  <td>{{stock.Item.Name}}</td>
                  <td>{{stock.Item.Description}}</td>
                  <td>{{stock.Item.UnitPrice | number:'3.2-5'}}</td>
                  <td>{{stock.InStock}}</td>
                  <td>{{stock.Available}}</td>
                </tr>
            </tbody>
          </table>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>