<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Stocks
        </div>
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Item #</th>
                <th>Name</th>
                <th>Category</th>
                <th>Unit Price</th>
              </tr>
            </thead>
            <tbody>
                <tr style="background-color: rgba(0, 0, 0, 0.075);">
                    <td>
                        <input class="form-control" />
                    </td>
                    <td>
                        <input class="form-control" />
                    </td>
                    <td>
                        <input class="form-control" />
                    </td>
                    <td>
                        <input class="form-control" />
                    </td>
                </tr>
              <tr>
                <td>ITM0001</td>
                <td>APO Cement</td>
                <td>Cement</td>
                <td>
                  150.00
                </td>
              </tr>
              <tr>
                  <td>ITM0001</td>
                  <td>APO Cement</td>
                  <td>Cement</td>
                  <td>
                    150.00
                  </td>
                </tr>
                <tr>
                    <td>ITM0001</td>
                    <td>APO Cement</td>
                    <td>Cement</td>
                    <td>
                      150.00
                    </td>
                  </tr>
                  <tr>
                      <td>ITM0001</td>
                      <td>APO Cement</td>
                      <td>Cement</td>
                      <td>
                        150.00
                      </td>
                    </tr>
                    <tr>
                        <td>ITM0001</td>
                        <td>APO Cement</td>
                        <td>Cement</td>
                        <td>
                          150.00
                        </td>
                      </tr>
                      <tr>
                          <td>ITM0001</td>
                          <td>APO Cement</td>
                          <td>Cement</td>
                          <td>
                            150.00
                          </td>
                        </tr>
            </tbody>
          </table>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>