<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Customer Order
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">SO #
                                    <small id="emailHelp" class="text-muted">System generated value</small>
                                </label>
                                <input type="text" class="form-control" readonly id="exampleInputEmail1" aria-describedby="emailHelp">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail2">Date</label>
                                <input type="date" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp">
                            </div>
                            <div class="form-group">
                                    <label for="exampleInputEmail2">Status</label>
                                    <select class="form-control">
                                        <option>Pending</option>
                                        <option>Approved</option>
                                        <option>Cancel</option>
                                    </select>
                                  </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputEmail3">Customer</label>
                                <input type="text" class="form-control" id="exampleInputEmail3" aria-describedby="emailHelp">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail4">Salesman</label>
                                <input type="text" class="form-control" id="exampleInputEmail4" aria-describedby="emailHelp">
                            </div>
                            <div class="form-group">
                                    <label for="exampleInputEmail4">Total Amount</label>
                                    <input type="text" class="form-control" id="exampleInputEmail4" aria-describedby="emailHelp">
                                </div>
                        </div>
                    </div>
                    <div class="row">

                    </div>
                    <table class="table table-hover" style="margin-top:15px;">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Description</th>
                                <th>Unit Price</th>
                                <th>Qty</th>
                                <th>Amout</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="text" class="form-control" />
                                </td>
                                <td>
                                    <input type="text" class="form-control" readonly placeholder="Autofill" />
                                </td>
                                <td>
                                    <input type="text" class="form-control" readonly placeholder="Autofill" />
                                </td>
                                <td>
                                    <input type="text" class="form-control" />
                                </td>
                                <td>
                                    <input type="text" class="form-control" readonly placeholder="Autofill" />
                                </td>
                                <td>
                                    <a href="#">Delete</a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <hr/>
                    <button type="button" class="btn btn-primary">Approve Order</button>
                    <button type="button" class="btn btn-danger">Cancel Order</button>
                </div>
            </div>
        </div>
    </div>
</div>